<IfModule dir_module>
    DirectoryIndex index.html index.php
</IfModule>

RewriteEngine on

RewriteRule ^git\-hook\.php$ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

RewriteCond %{REQUEST_URI} !^/(.*\.html|index\.php|assets|plugins|robots\.txt|test\.php|test/|git-hook\.php|$|#.*$)
RewriteRule ^(.*)$ /index.php?/$1 [L]
